.cardImage {
    width: 405px !important;
    height: 205px !important;
    position: static !important;
}

.imageWorkshop {
    object-fit: cover;
    width: 405px !important;
}

.cardLocation {
    justify-content: start !important;
    margin-bottom: 12px !important;
}

.button {
    background: #222222 !important;
    border: 1px solid #313131 !important;
}

.button.whiteColor.whiteText {
    color: #AFAFAF !important;
}

.button.whiteColor.whiteText.style2 {
    color: #fff !important;
}

.button:hover {
    background-color: #000 !important;
    color: #fff !important;
}

@media (min-width: 600px) and (max-width: 1399px) {
    .cardInfo {
        min-height: 189.33px !important;
    }
}

@media (min-width: 1400px){
    .cardInfo {
        min-height: 235.33px !important;
    }
}

.endSection {
    padding: auto;
}

.cardInfo:hover {
    box-shadow: none !important;
    border: none !important;
}

.borderRating {
    border: 1px solid #313131 !important;
}

.backgroundDefault {
    background-color: #171717 !important;
}

.backgroundSecondary {
    background-color: var(--bg-secondary-color) !important;
}

.card {
    max-width: 405px !important;
    scroll-snap-align: start;
}