.cardInfo {
    padding: 40px 40px 40px 80px !important;
    height: auto !important;
}

.cardInfoEvent {
    padding: 30px 40px 30px 60px !important;
    height: 290px !important;
}

.buttonStyle {
    padding: 4px 16px !important;
}

/* MyEvent.module.css */
.cardImage {
    height: 290px !important;
}

.smallImage {
    max-width: 215px !important;
}

.largeImage {
    max-width: 384px !important;
}

.tourDetail {
    max-height: 210px !important;
    justify-content: space-between !important;
}

.wish {
    width: 40px !important;
    height: 40px !important;
    opacity: 0.8 !important;
    top: 10px !important;
    left: 15px !important;
}

.buttonManage {
    padding: 4px 16px !important;
    width: 60% !important;
}

.tourRate {
    flex-direction: column !important;
    max-height: 210px !important;
    justify-content: flex-end !important;
    align-items: center !important;
}