.pointAccumulate {
    margin-right: 532px !important;
    padding-left: 35px !important;
    padding-top: 20px !important;
    min-height: 100vh !important;
    padding-bottom: 100px !important;
}

.positive {
    color: var(--bg-success-button-color) !important;
}

.negative {
    color: var(--bg-danger-color) !important;
}