.button {
    background: #222222 !important;
    border: 1px solid #313131 !important;
}

.button:hover {
    background-color: var(--bg-border-color) !important;
    color: #fff !important;
}

.ticketWrapper {
    width: 80% !important;
    margin: 0 auto !important;
}

.cardImage {
    max-width: 740px !important;
}

.cardImage .image {
    object-fit: cover !important;
}

.discount {
    width: 40px !important;
    height: 40px !important;
    opacity: 0.8 !important;
}

.cardInfo {
    padding: 60px 50px 60px 90px !important;
}

.buttonTicket.greyText.greyColor {
    color: #EDEDED !important;
}

.buttonManage {
    padding: 4px 16px !important;
    width: 60% !important;
    min-width: 110px;
}

.buttonReview {
    padding: 8px 16px !important;
    min-width: 110px;
    flex: 1;
}

.tourRate {
    max-height: 210px !important;
    align-items: center !important;
}

@media (min-width: 600px) and (max-width: 1200px) {
    .cardImage {
        width: 100% !important;
        object-fit: cover;
        display: inline-block;
        min-width: 100% !important;
    }
}