.lineBookingTickets {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
}

.itemTicket {
    display: flex;
    justify-content: space-between;
    /* width: 256px; */
    align-items: center;
}

.dropdownQuantity {
    position: relative;
}

.whiteColor {
    color: white;
}

.customSelectWrapper {
    position: relative;
    display: inline-block;
}

.customSelectInput {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    background-color: #171717;
    color: var(--bg-white-color);
    cursor: pointer;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customSelectList {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    max-height: 300px;
    overflow-y: auto;
    background-color: #171717;
    width: 100%;
}

.customSelectItem {
    padding: 8px;
    cursor: pointer;
    color: var(--bg-white-color);
    text-align: center;
}

.customSelectItem:hover,
.customSelectItem.selected {
    background-color: #444;
}

.inputWrapper {
    margin-top: 8px;
}

.inputQuantity {
    width: 50px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    background-color: #171717;
    color: var(--bg-white-color);
}

.inputQuantity:focus {
    outline: none;
}

.customSelectItem:hover {
    background-color: #444;
}

.customSelectInput:hover {
    background-color: #444;
}

.arrow {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    margin-bottom: 3px;
}